.fazer-pedido {
    height: 5.5rem;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fazer-pedido button {
    height: 61px;
    width: 80%;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 50px;
    text-shadow: none;
    font-size: 1.1rem;
}

.desabilitado{
    background: #CBCBCB;
}

.habilitado{
    background-color: #32B72F;
    font-weight: bold;
}