.produtos {
    margin-top: 2.5rem;

}

.carrocel {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    overflow-y: hidden;
}

.carrocel::-webkit-scrollbar {
    width: 100%;
    height: 8px;
}

.carrocel::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    border-radius: 10px;
    border: 3px solid transparent;

}

.ultimo {
    margin-bottom: 2rem;
}

.produto {
    position: relative;
    height: 226px;
    width: 172px;
    border-radius: 9px;
    margin-right: 19px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.25);
}

.produto img {
    height: 87px;
    width: 144px;
    margin-top: 18px;
    margin-bottom: 0.8rem;
    border-radius:7px;
}

.produto img, 
.produto h4, 
.produto p{
    margin-left: 14px;
    margin-right: 14px;
}

.produtos h3{
    font-size: 1.8rem;
    margin-bottom: 1rem
}

.produto h4{
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.descricao{
    color:#A6A6A6;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.preco{
    font-weight: bold;
    font-size: 16px;
}

.selecionado{
    box-shadow: inset 0 0 0 9px  #32B72F;
}

ion-icon{
    color: #32B72F;
    position: absolute;
    bottom: 11px;
    right: 11px;
    font-size: 25px;
}
