*{
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color: #E5E5E5;
    position: relative;
}

.conteudo{
    padding-top: 4rem;
    padding-bottom: 4.5rem;
}

.conteudo > div{
    padding: 0 1.5rem;
}

