*{
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color: #E5E5E5;
}

.conteudo{
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    
}

.conteudo > div{
    margin-left: 1.5rem;
}

